<a href="/jockeys">Jockey Index</a>

<h1><%= @jockey.name %></h1>

<p>Horses: <%@jockey.horses.each do |horse|%>
    <%=horse.name%>
    <%end%>
</p>

<p>Total Winnings: $<%=@total_winnings%>0 </p>
<p>Average Winning by Horse: $<%=@average_winngings%>0 </p>

<a href="/jockeys/<%= @jockey.id %>/edit">Edit</a>
<form action="/jockeys/<%= @jockey.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>
